<h1>Calculate the square of a number</h1>

<form action="/square/results">
<label for="users_num">Enter a number</label>

<input id="users_num" type="text" name="users_number">

<button>Calculate square</button>
</form>
